<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Simulador de Firewall</title>
</head>
<body>
    <h1>Simulador de Firewall</h1>

    <h2>Bloquear IP</h2>
    <form action="/bloquear" method="post">
        <input name="ip" placeholder="IP para bloquear" required>
        <button type="submit">Bloquear</button>
    </form>

    <h2>Liberar IP</h2>
    <form action="/liberar" method="post">
        <input name="ip" placeholder="IP para liberar" required>
        <button type="submit">Liberar</button>
    </form>

    <h2>Lista de IPs Bloqueados</h2>
    <ul>
        {% for ip in blacklist %}
            <li>{{ ip }}</li>
        {% endfor %}
    </ul>
    
 <h2>Logs em tempo real</h2>
<div id="logs" style="background: #eee; padding: 10px; max-height: 300px; overflow-y: scroll;"></div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
<script>
    const socket = io();  // conecta automaticamente com o backend
    socket.on('log', function(data) {
        const div = document.getElementById('logs');
        const p = document.createElement('p');
        p.innerText = data;
        div.appendChild(p);
        div.scrollTop = div.scrollHeight;
    });
</script>

</body>
</html>
